*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 60.25%; }

body {
  padding: 0 4.5rem;
  font-family: 'Open sans', sans-serif; }
  @media screen and (max-width: 1300px) {
    body {
      padding: 0; } }

.btn {
  color: #eee;
  text-decoration: none;
  display: inline-block; }

.section-heading {
  font-size: 1.9rem;
  text-decoration: underline; }

.header .nav-main {
  font-size: 1.38rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 2.5rem 10rem; }
  @media screen and (max-width: 950px) {
    .header .nav-main {
      padding: 2.5rem 3rem;
      font-size: 1.25rem; } }
  @media screen and (max-width: 600px) {
    .header .nav-main {
      padding: 2.5rem 1rem; } }
  .header .nav-main .logo-box {
    width: 8rem;
    height: 1.8rem; }
    .header .nav-main .logo-box .logo {
      width: 100%;
      height: 100%; }
  .header .nav-main .nav-list {
    list-style-type: none;
    flex: 0 1 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 100;
    color: rgba(5, 21, 87, 0.3); }
    @media screen and (max-width: 950px) {
      .header .nav-main .nav-list {
        flex-basis: 60%; } }
    @media screen and (max-width: 950px) {
      .header .nav-main .nav-list {
        flex-basis: 75%; } }
    .header .nav-main .nav-list__item--1:active, .header .nav-main .nav-list__item--1:hover {
      color: rgba(5, 21, 87, 0.8); }
    .header .nav-main .nav-list__item--2:active, .header .nav-main .nav-list__item--2:hover {
      color: rgba(5, 21, 87, 0.8); }
    .header .nav-main .nav-list__item--3:active, .header .nav-main .nav-list__item--3:hover {
      color: rgba(5, 21, 87, 0.8); }
    .header .nav-main .nav-list__item--4:active, .header .nav-main .nav-list__item--4:hover {
      color: rgba(5, 21, 87, 0.8); }

.header .text-box {
  height: 68vh;
  background-image: linear-gradient(to right bottom, rgba(29, 31, 29, 0.549), rgba(14, 14, 14, 0.8)), url("../img/cico-hero.jpg");
  background-size: cover;
  background-position: center;
  color: white; }
  .header .text-box .heading {
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media screen and (max-width: 650px) {
      .header .text-box .heading {
        top: 45%; } }
    .header .text-box .heading__primary {
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 3px;
      margin-bottom: 2.5rem; }
      @media screen and (max-width: 950px) {
        .header .text-box .heading__primary {
          font-size: 4rem; } }
      @media screen and (max-width: 650px) {
        .header .text-box .heading__primary {
          font-size: 2.5rem; } }
    .header .text-box .heading__secondary {
      color: rgba(255, 255, 255, 0.597);
      font-size: 1.5rem;
      width: 27%;
      margin: 1.5rem auto;
      line-height: 1.8rem;
      font-weight: 100; }
      @media screen and (max-width: 950px) {
        .header .text-box .heading__secondary {
          font-size: 1.3rem;
          width: 50%; } }
      @media screen and (max-width: 650px) {
        .header .text-box .heading__secondary {
          width: 75%; } }

.header .btn--header {
  margin-top: 1rem;
  width: 38rem;
  height: 2rem;
  padding: 1.5rem 2rem 4rem 2rem;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(119, 119, 119, 0.851); }
  @media screen and (max-width: 950px) {
    .header .btn--header {
      width: 40%; } }
  @media screen and (max-width: 650px) {
    .header .btn--header {
      margin-top: 0;
      width: 60%;
      font-size: 1.7rem; } }

.section-about {
  height: 100vh;
  padding: 7rem 7rem 4rem 7rem;
  text-align: center;
  margin-bottom: 3rem; }
  @media screen and (max-width: 950px) {
    .section-about {
      height: 65vh;
      padding: 2rem 1rem 2rem 1rem;
      margin-bottom: 1rem; } }
  .section-about__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media screen and (max-width: 950px) {
      .section-about__section {
        display: initial;
        padding: 0 3rem; } }
    .section-about__section__item {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: row; }
      @media screen and (max-width: 950px) {
        .section-about__section__item {
          margin-bottom: 2rem;
          width: 50%;
          margin: 0 auto;
          margin-bottom: 3rem; } }
      @media screen and (max-width: 650px) {
        .section-about__section__item {
          margin-bottom: 2rem;
          width: 75%;
          margin: 0 auto;
          margin-bottom: 3rem; } }
      .section-about__section__item span {
        display: inline-block;
        margin-right: 2rem; }
      .section-about__section__item__text {
        width: 60%;
        color: #777; }
        @media screen and (max-width: 950px) {
          .section-about__section__item__text {
            width: 100%; } }
        .section-about__section__item__text p {
          font-size: 1.38rem; }
          @media screen and (max-width: 950px) {
            .section-about__section__item__text p {
              font-size: 1.3rem; } }
  .section-about .image-container {
    flex: 0 0 30%; }
    .section-about .image-container img {
      width: 90%;
      height: 35rem; }
      @media screen and (max-width: 950px) {
        .section-about .image-container img {
          display: none; } }
  .section-about .text-container {
    text-align: left;
    flex: 0 1 40%; }
    @media screen and (max-width: 950px) {
      .section-about .text-container {
        flex-basis: 100%; } }
  .section-about .section-heading--about {
    margin-bottom: 7.5rem;
    color: #777;
    font-size: 2.9rem;
    font-weight: 400; }
    @media screen and (max-width: 950px) {
      .section-about .section-heading--about {
        font-size: 2rem;
        margin-bottom: 3rem; } }
    .section-about .section-heading--about-item {
      text-decoration: none;
      color: #777;
      margin-bottom: 2.5rem; }
      @media screen and (max-width: 950px) {
        .section-about .section-heading--about-item {
          font-size: 1.6rem;
          margin-bottom: 1.5rem; } }

.section-join {
  height: 40vh;
  background-color: #013324;
  color: #eee;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.3rem; }
  @media screen and (max-width: 950px) {
    .section-join {
      height: 60vh; } }
  .section-join__section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 0; }
    @media screen and (max-width: 950px) {
      .section-join__section__container {
        flex-direction: column;
        padding: 3rem 7rem; } }
    @media screen and (max-width: 650px) {
      .section-join__section__container {
        flex-direction: column;
        padding: 3rem; } }
  .section-join__section__item {
    flex: 0 0 20%;
    display: flex;
    flex-direction: row; }
    .section-join__section__item span {
      display: inline-block;
      margin-right: 2rem;
      position: relative;
      top: 2rem; }
    .section-join__section__item img {
      color: #eee; }
  .section-join__text-container {
    width: 90%; }
    @media screen and (max-width: 950px) {
      .section-join__text-container {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem; } }
    .section-join__text-container p {
      text-align: left;
      font-weight: 100;
      line-height: 2rem; }
  .section-join .section-heading--join {
    color: #eee; }
    .section-join .section-heading--join-item {
      text-decoration: none;
      color: #eee;
      font-size: 1.5rem;
      margin-bottom: 1.4rem; }

.section-user {
  font-size: 1.3rem;
  height: 9vh;
  display: flex;
  flex-direction: row; }
  .section-user__section {
    text-align: center; }
    .section-user__section--agent {
      width: 50%; }
    .section-user__section--appstore {
      background-color: #068039;
      width: 50%;
      color: #eee; }
      .section-user__section--appstore img {
        width: 2.5rem; }

.footer {
  height: 25vh;
  background-color: #07075c;
  color: #777;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media screen and (max-width: 650px) {
    .footer {
      height: 50vh;
      flex-direction: row;
      flex-wrap: wrap; } }
  .footer__section {
    line-height: 2rem;
    list-style-type: none; }
    @media screen and (max-width: 650px) {
      .footer__section {
        flex-basis: 40%;
        margin-top: 1rem; } }
    .footer__section__heading {
      font-weight: 600; }
    .footer__section a {
      text-decoration: none;
      color: inherit; }
