//Basic CSS Reset
*, 
*::after, 
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 60.25%;
}

body {
  padding: 0 5rem;
  font-family: 'Open sans', sans-serif;
}

.header {

  .nav-main {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2.5rem 10rem;

    .logo-box {

    }

    .nav-list {
      list-style-type: none;
      flex: 0 1 35%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 100;
      color: rgba(5, 21, 87, 0.3);
      
      &__item {
        
      }
    }
  }

  .text-box {
    height: 60vh;    
    background-color: orangered;
  }
}