// @font-face {
//   font-family: SegoeUI;
//   src:
//       local("Segoe UI Light"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
//   font-weight: 100;
// }

// @font-face {
//   font-family: SegoeUI;
//   src:
//       local("Segoe UI Semilight"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
//   font-weight: 200;
// }

// @font-face {
//   font-family: SegoeUI;
//   src:
//       local("Segoe UI"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
//   font-weight: 400;
// }

// @font-face {
//   font-family: SegoeUI;
//   src:
//       local("Segoe UI Bold"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
//   font-weight: 600;
// }

// @font-face {
//   font-family: SegoeUI;
//   src:
//       local("Segoe UI Semibold"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
//       url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
//   font-weight: 700;
// }

//Basic CSS Reset
//In a real project most of the these rules would live in different folder and scss files
//I like to organize my CSS using the 7-1 CSS architecture leaving my main scss file to only
//contain imports
*, 
*::after, 
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.50%;
}

body {
  padding: 0 4.5rem;
  font-family: 'Open Sans', sans-serif;

  @media screen and (max-width: 1300px) {
    padding: 0;
  }
}

//////COMPONENTS////////
//Button component
.btn {
  color: #eee;
  text-decoration: none; 
  display: inline-block;
}

//Heading component - this is neccassary because this kind of heading appears more than once
.section-heading {
  font-size: 1.9rem;
  text-decoration: underline;
}

.header {

  .nav-main {
    height: 6.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2.5rem 10rem;

    @media screen and (max-width: 950px) {
      padding: 2.5rem 3rem; 
      font-size: 1.25rem;     
    }

    @media screen and (max-width: 600px) {
      padding: 2.5rem 1rem;   
    }

    .logo-box {
      width: 7.832rem;
      height: 1.652rem;

      .logo {
        width: 100%;
        height: 100%;
      }
    }

    .nav-list {
      list-style-type: none;
      flex: 0 1 35%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.4rem;
      font-weight: 100;
      color: #C5C5C5;
      opacity: 100%;

      @media screen and (max-width: 950px) {
        flex-basis: 60%;  
      }

      @media screen and (max-width: 950px) {
        flex-basis: 75%; 
        font-size: 1.3rem; 
      }
      
      &__item {

        &--1 {
          &:active,
          &:hover {
            color: rgba(5, 21, 87, 0.8);
          }
        }

        &--2 {
         &:active,
         &:hover {
          color: rgba(5, 21, 87, 0.8);          
          }        
        }

        &--3 {
          &:active,
          &:hover {
            color: rgba(5, 21, 87, 0.8);         
          }        
        }

        &--4 {
          &:active,
          &:hover {
            color: rgba(5, 21, 87, 0.8);           
          }        
        }
      }
    }
  }

  .text-box {
    height: 41.2rem;    
    background-image: linear-gradient(
      to right bottom,
      rgba(29, 31, 29, 0.549),
      rgba(14, 14, 14, 0.8)
    ),
    url('../img/cico-hero.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255); 

    .heading {
      position: relative;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      @media screen and (max-width: 650px) {
        top: 45%;              
      }
      
      &__primary {
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 3.5px;
        margin-bottom: 2.5rem;

        @media screen and (max-width: 950px) {
          font-size: 4rem
        }

        @media screen and (max-width: 650px) {
          font-size: 2.3rem          
        }
      }

      &__secondary {
        color: rgba(255, 255, 255, 0.597);           
        font-size: 1.5rem;
        width: 30.4rem;
        margin: 1.5rem auto;
        line-height: 1.8rem;
        font-weight: 100;

        @media screen and (max-width: 950px) {
          font-size: 1.3rem;
          width: 50%;          
        }

        @media screen and (max-width: 650px) {
          width: 75%;               
        }
      }
    }
  }

  .btn--header {
    margin-top: 1rem;
    width: 35.3rem;
    height: 5rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(119, 119, 119, 0.851); 
    box-shadow: #00000029 0px 3px 6px;
    border: 1px solid rgba(255, 255, 255, 0.268);
    
    @media screen and (max-width: 950px) {
      width: 40%;          
    }

    @media screen and (max-width: 650px) {
      margin-top: 0;
      width: 60%;
      font-size: 1.7rem;                     
    }
  }
}

.section-about {
  height: 83rem;
  padding: 7rem 7rem 4rem 7rem;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;

  @media screen and (max-width: 950px) {
    height: 55rem;
    padding: 2rem 1rem 2rem 1rem;
    margin-bottom: 1rem;    
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media screen and (max-width: 950px) {
      display: initial;
      padding: 0 3rem;
    }
  }

  
  &__item {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 950px) {
      margin-bottom: 2rem;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 3rem;
    }

    @media screen and (max-width: 650px) {
      margin-bottom: 2rem;
      width: 75%;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
    
    span {
      display: inline-block;
      margin-right: 4rem;
      position: relative;
      top: 1rem;
    }

    &__text {
      width: 31.8rem;
      color: #777;

      @media screen and (max-width: 950px) {
        width: 100%;
      }

      @media screen and (max-width: 650px) {
        width: 70%;
      }

      p {
        font-size: 1.38rem;

        @media screen and (max-width: 950px) {
          font-size: 1.3rem;      
        }
      }
    }     
  }

  .image-container {
    flex: 0 0 40%; 
    
    img {
      height: 90%;

      @media screen and (max-width: 950px) {
        display: none;      
      }
    }
  }

  .text-container {
    text-align: left;
    flex: 0 1 44%;
    font-size: 1.5px;
    padding-top: 8rem;
    
    p {
      line-height: 2.1rem;
    }

    @media screen and (max-width: 950px) {
      width: 100%; 
      padding: 0;
    }
  }

  .section-heading--about {
    margin-bottom: 7.5rem;
    color: #707070;
    font-size: 3rem;
    font-weight: 400;

    @media screen and (max-width: 950px) {
      font-size: 2rem;  
      margin-bottom: 3rem;    
    }

    &-item {
      text-decoration: none;
      margin-bottom: 2.5rem;  
      font-size: 3rem;
      width: 31rem;
      font-weight: 400;
      
      @media screen and (max-width: 950px) {
        font-size: 1.6rem;     
        margin-bottom: 1.5rem; 
      }
    }
  }
}

.section-join {
  height: 40.4rem;
  background-color: #466563;
  color: #eee;
  text-align: center;
  padding: 2rem 7rem;
  font-size: 1.3rem;

  @media screen and (max-width: 950px) {
    height: 50rem;
    padding: 2rem 4rem;
  }

  @media screen and (max-width: 650px) {
    height: 55rem;
    padding: 2rem 0;
  }

  &__section {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 9rem 0;
      font-size: 1.4rem;

      @media screen and (max-width: 950px) {
        flex-direction: column;
        padding: 3rem 7rem;
      }

      @media screen and (max-width: 650px) {
        flex-direction: column;
        padding: 3rem;
      }
    }    

    &__item {
      flex: 0 0 31%;
      display: flex;
      flex-direction: row;

      span {
        display: inline-block;
        margin-right: 3rem;
        position: relative;
        top: 2rem;
      }
      
      img {
        color: #eee;
      }
    }
  }

  &__text-container {
    width: 64%;

    @media screen and (max-width: 950px) {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 650px) {
      width: 90%;        
    }

    p {
      text-align: left;
      font-weight: 100;
      line-height: 2rem;
      font-size: 1.3rem;
    }
  }

  .section-heading--join {
    color: #eee;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 400;

    @media screen and (max-width: 950px) {
      margin-bottom: 3rem;
      font-size: 2rem;
    }    

    &-item {
      text-decoration: none;
      color: #eee;
      font-size: 2rem;
      margin-bottom: 2rem;

      @media screen and (max-width: 950px) {
        margin-bottom: 2rem;
        font-size: 1.6rem;
      }  
    }
  }
}

.section-user {
  font-size: 1.5rem;  
  height: 8.8rem;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 650px) {
    font-size: 1.35rem;
  }
  

  &__section {
    text-align: center;
    padding-top: 3rem;

    &--agent {
      width: 50%; 
      color: #707070
    }

    &__text {
      margin-right: 0.4rem;
    }

    &__image {

      &--user {
        position: relative;
        top: 2px;
      }

      &--appstore {
        position: relative;
        top: 8px;
        margin: 0 7px;
      }
    }

    &--appstore {
      background-color: #008751; 
      width: 50%; 
      color: #FFFFFF;
      font-weight: 100;

      @media screen and (max-width: 950px) {
        padding-top: 2rem;
      }  
      
      img {
        width: 2.5rem;
      }
    }
  }
}

.footer {
  height: 22.1rem;
  background-color: #123C68;
  padding-top: 5rem;
  color: #C5C5C5;
  font-weight: 100;
  font-size: 1.35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 2.1rem;

  @media screen and (max-width: 650px) {
    height: 40rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
  }

  &__section {
    line-height: 2rem;
    list-style-type: none;

    @media screen and (max-width: 650px) {
      flex-basis: 40%;
      margin-top: 1rem;
    }

    &__heading {
      font-weight: 600;
      font-size: 1.5rem;      
    }

    p {
      padding: 0.5rem;

      @media screen and (max-width: 650px) {
        padding: 0;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    &--social-media {
      align-self: flex-start;
    }
  }
}