//Basic CSS Reset
//In a real project most of the these rules would live in different folder and scss files
//I like to organize my CSS using the 7-1 CSS architecture leaving my main scss file to only
//contain imports
*, 
*::after, 
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 60.25%;
}

body {
  padding: 0 4.5rem;
  font-family: 'Open sans', sans-serif;

  @media screen and (max-width: 1300px) {
    padding: 0;
  }
}

//////COMPONENTS////////
//Button component
.btn {
  color: #eee;
  text-decoration: none; 
  display: inline-block;
}

//Heading component - this is neccassary because this kind of heading appears more than once
.section-heading {
  font-size: 1.9rem;
  text-decoration: underline;
}

.header {

  .nav-main {
    font-size: 1.38rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2.5rem 10rem;

    .logo-box {
      width: 8rem;
      height: 1.8rem;

      .logo {
        width: 100%;
        height: 100%;
      }
    }

    .nav-list {
      list-style-type: none;
      flex: 0 1 35%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 100;
      color: rgba(5, 21, 87, 0.3);
      
      &__item {

        &--1 {
          &:active,
          &:hover {
            color: rgba(5, 21, 87, 0.8);
          }
        }

        &--2 {
         &:active,
         &:hover {
          color: rgba(5, 21, 87, 0.8);          
          }        
        }

        &--3 {
          &:active,
          &:hover {
            color: rgba(5, 21, 87, 0.8);         
          }        
        }

        &--4 {
          &:active,
          &:hover {
            color: rgba(5, 21, 87, 0.8);           
          }        
        }
      }
    }
  }

  .text-box {
    height: 68vh;    
    background-image: linear-gradient(
      to right bottom,
      rgba(29, 31, 29, 0.549),
      rgba(14, 14, 14, 0.8)
    ),
    url('/img/cico-hero.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);   

    .heading {
      position: relative;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      
      &__primary {
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 3px;
        margin-bottom: 2.5rem;
      }

      &__secondary {
        color: rgba(255, 255, 255, 0.597);           
        font-size: 1.5rem;
        width: 27%;
        margin: 1.5rem auto;
        line-height: 1.8rem;
        font-weight: 100;
      }
    }
  }

  .btn--header {
    margin-top: 1rem;
    width: 38rem;
    height: 2rem;
    padding: 1.5rem 2rem 4rem 2rem;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(119, 119, 119, 0.851);    
  }
}



.section-about {
  height: 100vh;
  padding: 7rem 7rem 4rem 7rem;
  text-align: center;

  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__item {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: row;
      
      span {
        display: inline-block;
        margin-right: 2rem;
      }

      &__text {
        width: 60%;
        color: #777;

        p {
          font-size: 1.38rem;
        }
      }     
    }
  }

  .image-container {
    flex: 0 0 30%; 
    
    img {
      width: 90%;
      height: 35rem;
    }
  }

  .text-container {
    text-align: left;
    flex: 0 1 40%;
  }

  .section-heading--about {
    margin-bottom: 7.5rem;
    color: #777;
    font-size: 2.9rem;
    font-weight: 400;

    &-item {
      text-decoration: none;
      color: #777; 
      margin-bottom: 2.5rem;  
    }
  }
}

.section-join {
  height: 40vh;
  background-color: rgb(1, 51, 36);
  color: #777;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.3rem;

  &__section {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 5rem 0;
    }    

    &__item {
      flex: 0 0 20%;
      
      img {
        color: #eee;
      }
    }
  }

  &__text-container {
    width: 90%;

    p {
      text-align: left;
    }
  }

  .section-heading--join {
    color: #eee;

    &-item {
      text-decoration: none;
      color: #eee;
      font-size: 1.5rem;
      margin-bottom: 1.4rem;
    }
  }
}

.section-user {
  font-size: 1.3rem;  
  height: 9vh;
  display: flex;
  flex-direction: row;

  &__section {
    text-align: center;

    &--agent {
      width: 50%; 
    }

    &--appstore {
      background-color: rgb(6, 128, 57); 
      width: 50%; 
      color: #eee; 
      
      img {
        width: 2.5rem;
      }
    }
  }
}

.footer {
  height: 25vh;
  background-color: #07075c;
  color: #777;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__section {
    line-height: 2rem;

    &__heading {
      font-weight: 600;
    }
  }
}